--- 
title: Numbray - Remote TDCS
layout: default
include_page_css: home-include

breadcrumbs:

---

<div class="home">
  <section class="section hero-slider m-0">
    <div class="hero brain">
      <table class="hero-container">
        <tbody>
          <tr>
            <td class="title-container">
              <div class="container d-inline-block h-md-0 h-100">
                <div class="row h-100">
                  <div class="col-sm-8 h-100">
                    <div class="title text-black">
                      New ways for <h1 class="keyword text-black">Brain Stimulation</h1>.
                    </div>
                    <div class="call-to-action text-center text-md-left">
                      <!--<a href="." data-event-track="Click::Home:Hero:Slide1:LearnMore" class="btn btn-md-lg btn-link font-weight-bold btn-link-cta  trk-hero-pre-order">Learn more about our <span>underwater drone</span>s</a>-->
                    </div>
                  </div>
                </div>
              </div>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
      
  </section>

  <!--<section class="featured-on py-4 hidden-sm-down">
    <div class="container">
      <div class="row d-flex featured-on-list">
          {% for item in site.data.media %}
          <a href="{{item.url}}" target="_blank" data-track="Media {{item.outlet}}" data-event-track="Click::Home:Hero:Media:{{item.outlet}}" class="{% if item.hideOnMobile %}hideOnMobile{% endif %}">
            <div class='media-logos sprite--{{item.logo}}'></div>
          </a>{% endfor %}
      </div>
    </div>
  </section>-->

  <section class="grey">
    <div class="container pb-5">
      <div class="row pt-5 pb-2">
        <div class="col-12 text-center">
          <h1>Welcome to NumbRay!</h1>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-12 ">
          Check back soon!
        </div>        
      </div>
    </div>
  </section>
  
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "LocalBusiness",
        "name" : "Numbray Pty Ltd",
        "url": "http://www.numbray.io",
        "logo": "http://www.numbray.io/images/numbray.png",
        "image": "http://www.numbray.io/images/numbray-remote-brain-stimulation.jpg",
        "email": "info@openrov.com",
        "description": "Numbray - New ways in brain stimulation.",
    
        "address": {
            "@type": "PostalAddress",
            "addressLocality": "Syndey",
            "addressRegion": "NSW",
            "streetAddress": "",
            "postalCode": ""
        },

        "geo": {
          "@context": "http://schema.org",
          "@type": "GeoCoordinates",
          "latitude": "-33.865143",
          "longitude": "151.209900"
        },

        "founders": [
        { 
          "@context": "http://schema.org",
          "@type": "Person",
          "givenName": "Peter",
          "familyName": " Simpson-Young",
          "gender": "http://schema.org/Male"
        },
        { 
          "@context": "http://schema.org",
          "@type": "Person",
          "givenName": "Neill",
          "familyName": "Wainwright",
          "gender": "http://schema.org/Male"
        },
        { 
          "@context": "http://schema.org",
          "@type": "Person",
          "givenName": "Dominik",
          "familyName": "Fretz",
          "gender": "http://schema.org/Male"
        }
        ]

    }
    </script>